<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widt=device-width, initial-scale=1.0">
        <title>Resume Parser</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
<body>
    <div class="container">
        <h2>Resume Parse</h2>
        <form id="uploadForm" enctype="multipart/form-data">
            <div class="file-input">
                <label for="file">Upload your resume(PDF only):</label>
                <input type="file" id="file" name="file" accept=".pdf" required >
            </div>
            <button type="submit" class="submit-btn">Upload and Parse</button>
        </form>
        
        <div class="loading" id="loading">
            <span></span>
            <!-- <span></span>
            <span></span> -->
        </div>

        <div class="results" id="results">
            <h3>Parsed Results:</h3>
            <form id="editForm">
                <div class="result-row">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" />
                </div>
                <div class="result-row">
                    <label for="phoneNo">Phone Number:</label>
                    <input type="text" id="phoneNo" name="phoneNo" />
                </div>
                <div class="result-row">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" />
                </div>
                <div class="result-row">
                    <label for="degree">Degree:</label>
                    <input type="text" id="degree" name="degree" />
                </div>
                <div class="result-row">
                    <label for="passOutYear">Passout year:</label>
                    <input type="text" id="passOutYear" name="passOutYear" />
                </div>
                <div class="result-row">
                    <label for="college">College:</label>
                    <input type="text" id="college" name="college" />
                </div>
                <div class="result-row">
                    <label for="jobTitle">Job title:</label>
                    <input type="text" id="jobTitle" name="jobTitle" />
                </div>
                <div class="result-row">
                    <label for="yearsOfExp">Years of Experience:</label>
                    <input type="text" id="yearsOfExp" name="yearsOfExp" />
                </div>
                <div class="result-row">
                    <label for="currentOrganization">Current Organization:</label>
                    <input type="text" id="currentOrganization" name="currentOrganization" />
                </div>

                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </div>
    <script src="{{url_for('static',filename='script.js')}}">
    </script>
</body>
</html>